<h1>Edit Your Appointent</h1>
<%=render 'form'%>
<h1><%= link_to "<button>Cancel your appointment</button>".html_safe, appointment_path(@appointment), method: :delete, data: {confirm: "Are you sure you want to cancel"}%></h1>
